header{
    grid-area: cabe;
    background-color: aquamarine;
}
main{
    grid-area: prin;
    background-color: rgb(75, 81, 49);
}
aside{
    grid-area: brac;
    background-color: aquamarine;
}
footer{
    grid-area: roda;
    background-color: aquamarine;
}
body{
    display: grid;
    grid-template-areas:
    " cabe cabe cabe cabe "
    " brac prin prin prin "
    " roda roda roda roda ";
    grid-template-columns: 180px auto;
    grid-template-rows: 210px auto 200px;
}
.logo{
    border-radius: 10%;
    transition: 1s;
    width: 8%;
}
nav li{
    display: inline;
    margin: 1rem;
}
nav a{
    text-decoration: none;
    font-size: 1,5rem;
    color: black;
    border: solid rgb(76, 82, 28);
    background-color: rgb(220, 245, 96);
    transition: 1s;
}
nav a:hover{
    font-size: 1,1rem;
    color: white;
    border: solid rgb(71, 92, 15);
    background: black;
}
header{
    display: flex;
    padding: 1rem;
}
.caixa_mae{
    border: solid 2px  rgb(76, 82, 28);
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card{
    width: 300px;
    height: 400px;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 3px 6px 9px aquamarine;
    transition: 3s;
}
.card img{
    width: 250px;
}
.card a{
    background-color: black;
    text-decoration: none;
    color: white;
    width: 100px;
    height: 30px;
    text-align: center;
    padding: 5px;
}
.card :hover{
    background-color: aquamarine;
}
