header{
    grid-area: cabe;
    background-image: linear-gradient(to right, rgba(127, 255,212, 10.5) , rgb(7, 107, 74, 0.7));/* faz um degrade da cor do elemento */
}
main{
    grid-area: prin;
    background-color: rgb(75, 81, 49);
}
aside{
    grid-area: brac;
    background-color: rgb(7, 107, 74);
    padding: 10%;
}
footer{
    grid-area: roda;
    background-image: linear-gradient(to right, rgba(127, 255,212, 10.5) , rgb(7, 107, 74, 0.7));/* faz um degrade da cor do elemento */
}
body{
    display: grid;/* para ele entender que o formato é grid*/
    grid-template-areas:
    " cabe cabe cabe cabe "
    " brac prin prin prin "
    " roda roda roda roda ";
    grid-template-columns: 180px auto;
    grid-template-rows: 210px auto 200px;
}
.logo{
    border-radius: 10%;/* indica a curvatura das bordas*/
    transition: 1s;
    width: 10%;/* tamanho da imagem*/
}
nav{
    display: flex;/* para ser flexivel*/
    text-align: center;/* se posicionar no centro*/
    position: absolute;
    right: 60px;
    top: 10px;
}
nav li{
    display: inline;
    align-items: center;
}
nav a{
    text-decoration: none;/* para não ter borda*/
    font-size: 1.2rem;/* tamanho da fonte*/
    transition: 1s;/* tempo de transiçao*/
    border: solid rgb( 0, 0, 0, 0);
}
nav a:hover{
    font-size: 6.5rem;/* tamanho do quadrado atras da imagem*/
    color: white;
    border: solid rgb(75, 81, 49);
    background: black;
}
header{
    display: flex;
    padding: 1rem;
    position: relative;
}
header li{
    display: inline;
    margin: 1rem;
    left: 850px;
}
header a{
    text-decoration:none; 
    font-size: 4.6rem;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    transition: 1s;
}
.caixa_mae{
    border: solid 2px  rgb(76, 82, 28);
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card{
    width: 300px;/*tamanho do card*/
    height: 420px;/* altura do card*/
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;/* curvatura das bordas*/
    flex-direction: column;
    box-shadow: 5px 10px 15px aquamarine;/* tamanho e cor do sombreado*/
    transition: 3s;
}
.card img{
    width: 190px;
    height: 200px;
    align-items: center;
    border-radius: 1px;
}
.card a{
    background-color: black;
    text-decoration: none;
    color: white;
    width: 100px;
    height: 15px;
    text-align: center;
    padding: 5px;
}
.card :hover{
    background-color: aquamarine;
}
.carrinho{
    width: 60px;
    border-radius: 3px;
}
.promocao{
    width: 60px;
    border-radius: 3px; 
}
.estrela{
    width: 70px;
    border-radius: 3px; 
}
.rodape{
    width: 10%;
    border-radius: 10%;
    transition: 1s;
}
footer a:hover{
    font-size: 1.1rem;
    color: white; 
    border: solid rgb(0 , 0, 0); 
    background: black; 
}
footer li{
    display: inline;
    margin: 0 0 0 200px;
    margin-top: 8%;
}
footer li{
    display: inline;
    position:relative;
    align-items: center;
}
footer{
    text-align: center;
    display: flex;
    position: relative;
}
footer a{
    text-decoration: none; 
    font-size: 2.1rem;
    color: rgb(2, 2, 2);
    border: solid rgb(0, 0, 0, 0 );
    background-color: aquamarine;
    transition: 1s;
}
.mapa{
    width: 150px;
    border-radius: 5px;
}
.folhas{
    width: 150px;
    border-radius: 5px;
}
.frase{
    width: 150px;
    border-radius: 5px;
}
.livros{
    width: 150px;
    border-radius: 5px;
}
.card2{
    width: 1100px;/*tamanho do card*/
    height: 450px;/* altura do card*/
    margin: 50px;
    display: flex;
    border-radius: 10px;/* curvatura das bordas*/
    flex-direction: column;
    box-shadow: 5px 10px 15px aquamarine;/* tamanho e cor do sombreado*/
    transition: 3s;
    align-items:center;
    padding: 20px;
}
section{
    display: flex;
}
section img{
    width: 250px;
    height: 300;
    margin-right: 20px;
    position: absolute;
}
section p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 500px;
    position:relative;
    margin-inline-start: 40%;
}
.texto{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 500px;
    position:relative;
    margin-inline-start: 60%;
}
.odeus{
    width: 180px;
    height: 300;
    margin-right: 900px;
}
.odeus1{
    width: 175px;
    height: 300;
    margin-right: 900px;
    margin-inline-start: 30%;
}
.borboleta{
    width: 150px;
    border-radius: 5px;
}
.voce{
    width: 150px;
    border-radius: 5px;
}
.pix{
    width: 60px;
    border-radius: 3px;
}
.master{
    width: 60px;
    border-radius: 3px;
}
.visa{
    width: 60px;
    border-radius: 3px;
}
.compreagora{
    width: 60px;
    border-radius: 3px;
}

.destroi{
    width: 180px;
    height: 300;
    margin-right: 900px;
    margin-top: 100px;
}
.desroisonhos2{
    width: 180px;
    height: 300;
    margin-right: 900px;
    margin-top: 100px;
}
.compre{
    width: 120px;
    border-radius: 3px;
}
.card3{
    width:  450px;/*tamanho do card*/
    height: 450px;/* altura do card*/
    margin: 50px;
    display: flex;
    border-radius: 10px;/* curvatura das bordas*/
    flex-direction: column;
    box-shadow: 5px 10px 15px aquamarine;/* tamanho e cor do sombreado*/
    transition: 3s;
    align-items:center;
    padding: 10px; 
}
.odeus5{
    width: 200px;
    height: 250px;
    position: relative;
}
.text{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 400px;
    position:absolute;
    margin-top: 300px;
}
.adicione{
    width: 60px;
    border-radius: 3px;
}
@media only screen and (max-width:820px){
    body{
        grid-template-areas:
        "cabe"
        "prin"
        "roda";
        grid-template-columns: 1fr;
        grid-template-rows: 100px auto 100px;
    }
    aside{
        display: none;
    }
}

footer nav{
    position: relative;
    bottom: 20px;
}
main nav{
    position: absolute;
    top: 150px;
    right: 150px;
}
main{
    position: relative;
}
